<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Tableau de Bord</title>
</head>
<body>
  <h1>Bienvenue sur le Tableau de Bord</h1>

  <div id="adminSection" style="display: none;">
    <h2>Section Admin</h2>
    <form id="addUserForm">
      <input type="text" id="addUsername" placeholder="Nom d'utilisateur" required>
      <input type="password" id="addMdp" placeholder="Mot de passe" required>
      <input type="email" id="addEmail" placeholder="Email">
      <select id="addRole">
        <option value="user">Utilisateur</option>
        <option value="admin">Admin</option>
      </select>
      <button type="submit">Ajouter un utilisateur</button>
    </form>

    <h2>Liste des utilisateurs</h2>
    <table id="usersTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Rôle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>

  <div id="userSection" style="display: none;">
    <h2>Section Utilisateur</h2>
    <form id="editProfileForm">
      <label for="username">Nom d'utilisateur :</label>
      <input type="text" id="username" placeholder="Votre nom" required>
      <br>
      <label for="email">Email :</label>
      <input type="email" id="email" placeholder="Votre email">
      <br>
      <button type="submit">Mettre à jour</button>
    </form>
  </div>

  <script src="../js/app.js"></script>

</body>
</html>
