<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier profil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Modifier profil</h1>
        <form action="/user/edit" method="POST">
            <label for="username">Nom:</label>
            <input type="text" id="nom" name="nom" value="<%= user.nom %>" required>

            <label for="mail">Email:</label>
            <input type="email" id="mail" name="mail" value="<%= user.mail %>" required>

            <label for="tel">Téléphone:</label>
            <input type="int" id="tel" name="tel" value="<%= user.tel %>" required>

            <label for="password">Nouveau mot de passe :</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Mettre à jour">
        </form>
    </div>
</body>
</html>
