/* Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #c1ede1;
    color: #333;
    padding: 30px;
    font-size: 8px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 1.6rem;
    color: black;
    font-family: "Cambria", serif sans-serif;
}

.logout {
    padding: 10px 20px;
    /* background-color: #FF5733; */
    color: red;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}


/* Search Container */
.search-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 29px;
    background-color: #d6e9e4;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.search-container input,
.search-container select,
.search-container button {
    padding: 12px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    flex: 1;
}

.search-container button {
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
    flex: 0.5; 
}

.search-container button:hover {
    background-color: #45a049;
}

/* Table */
.container {
    display: flex;
    gap: 20px;
    /* background-color: #d6e9e4; */
}

.table-container {
    flex: 2;
    background-color: #d6e9e4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 0.9rem;
}

table th,
table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f7fc;
    text-align: left;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
    border: none;
    width: 100%;
}

.actions button:not(.delete) {
    background-color: #9fd2e1;
    color: white;
}

.actions button.delete {
    background-color: rgb(54, 53, 53);
    color: white;
}

.actions button:hover {
    background-color: rgb(43, 42, 42);
}

.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 15px;
}

.pagination a {
    padding: 8px 12px;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover {
    background-color: #ddd;
}

/* Add User Form  */
.add-user-container {
    flex: 1;
    background-color: #d6e9e4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container1{
    display: flex;
}

.add-user-container h3 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    font-family: Cambria, serif sans-serif;
    padding:20px;

}

.add-user-container form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.add-user-container label {
    text-align: left;
    font-weight: bold;
    color: #333;
    font-size: 0.9rem;
}

.add-user-container input,
.add-user-container select {
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: border-color 0.3s;
}

.add-user-container input:focus,
.add-user-container select:focus {
    border-color: #4CAF50;
}

.add-user-container button.add-btn {
    background-color: #4CAF50;
    color: white;
    width: 100%;
    font-size: 1.1rem;
    padding: 15px;
    border-radius: 7px;
    border: none;
    transition: background-color 0.3s;
    align-items: center;
}

.add-user-container button.add-btn:hover {
    background-color: #45a049;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .table-container,
    .add-user-container {
        width: 100%;
    }

    .search-container {
        flex-direction: column;
        align-items: center;
    }

    .search-container input,
    .search-container select,
    .search-container button {
        width: 100%;
    }
}
